@import "https://fonts.googleapis.com/css?family=Rubik&display=swap";

body {
    background-color: #d3d3d3;
    font-family: rubik;
}

h1 {
    text-align: center;
    font-size: 42px;
}

.pokemon-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.pokemon-card {
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}

.animate {
    animation: bounce 0.5s linear;
    cursor: pointer;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}

.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.pokemon-cards a {
    text-decoration: none !important;
}

.search-container {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
}

.form-control {
    display: inline-block;
    width: 45%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    margin-right: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.button {
    background-color: #f4f4f4;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #444;
    transition: transform 100ms;
    text-decoration: none;
    color: #333;
}

.button:hover {
    cursor: pointer;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}
